@import "./../../../../assets/styles/colors.scss";

.btn {
  background: $primary-violet;
  border-radius: 4px;
  color: $primary-white;
  font-weight: 400;
  padding: 8px 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $secondary-violet;
  }
}
