@import "./../../../assets/styles/colors.scss";
@import "./../../../assets/styles/media-queries.scss";

header {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px 0;
  background-color: $primary-white;

  @include for-big-desktop-up {
    padding: 20px;
  }

  & > h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 28px;
    color: $primary-black;
  }

  & > figure {
    width: 50px;
    height: 50px;
    margin-right: 17px;
  }
}
