<div class="outer">
  <article class="modal" #modal>
    <div class="close-btn" (click)="close()">
      <app-close-button></app-close-button>
    </div>
    <header>
      <h2>Musiienko Serhii</h2>
      <h3>Front-end developer</h3>
    </header>
    <section class="wrapper">
      <div class="inner">
        <img src="./../../../assets/images/jpeg/myPhoto.jpg" alt="myPhoto" />
        <h3 class="about">About me</h3>
        <p class="text">
          My name is Serhii Musiienko. Building state-of-the-art, easy to use,
          user-friendly websites and applications is truly a passion of mine and
          I am confident I would be an excellent addition to your organization.
        </p>
        <p class="contact">
          I can be reached anytime by email at sergmusiienko@gmail.com
        </p>
      </div>
    </section>
  </article>
</div>
