<div class="container">
  <div class="btn-box">
    <app-back-button></app-back-button>
  </div>
  <h1>Region: {{ title | titlecase }}</h1>
  <ul>
    <cdk-virtual-scroll-viewport [itemSize]="20" class="viewport">
      <ng-container *cdkVirtualFor="let country of countries$ | async">
        <li (click)="navigateToCountry(country.name)">
          <div class="image-box">
            <img [src]="country.flags" [alt]="country.desc" />
          </div>
          <span>{{ country.name }} </span>
        </li>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </ul>
</div>
