<div class="container">
  <div class="btn-box">
    <app-back-button></app-back-button>
  </div>
  <h1>Region: {{ title | titlecase }}</h1>
  <ul>
    <cdk-virtual-scroll-viewport itemSize="11" class="viewport">
      <ng-container *cdkVirtualFor="let country of countries$ | async">
        <li>
          <div class="image-box"><img [src]="country.flags" alt="flag" /></div>
          <span>{{ country.name }} </span>
        </li>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </ul>
</div>
