@import "./../../../../assets/styles/colors.scss";

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  color: $primary-accent;
  background: none;
  border: none;
  cursor: pointer;

  &:first-child {
    margin-right: 8px;
  }
}
