$primary-accent: #6db720;
$primary-black: #181818;
$secondary-black: #1f3347;
$bg-black: #1a2531;
$primary-gray: #888888;
$primary-white: #ffff;
$primary-violet: #6347f9;
$secondary-violet: #5436f9;
$primary-shadow: #d9d9d9;
$secondary-shadow: #e4e2ee;
$border: #e3e3e3;
